[submodule "robot_behavior"]
	path = robot_behavior
	url = git@github.com:Robot-Exp-Platform/robot_behavior.git
[submodule "libjaka-rs"]
	path = libjaka-rs
	url = git@github.com:Robot-Exp-Platform/libjaka-rs.git
[submodule "franka-rust"]
	path = franka-rust
	url = git@github.com:Robot-Exp-Platform/franka-rust.git
[submodule "libhans-rs"]
	path = libhans-rs
	url = git@github.com:Robot-Exp-Platform/libhans-rs.git
[submodule "roplat_exrobot"]
	path = roplat_exrobot
	url = git@github.com:Robot-Exp-Platform/roplat_exrobot.git
[submodule "libaubo-rs"]
	path = libaubo-rs
	url = git@github.com:Robot-Exp-Platform/libaubo-rs.git
[submodule "rsbullet"]
	path = rsbullet
	url = git@github.com:Robot-Exp-Platform/rsbullet.git
[submodule "roplat_rerun"]
	path = roplat_rerun
	url = git@github.com:Robot-Exp-Platform/roplat_rerun.git
[submodule "rerun_urdf"]
	path = utils/rerun_urdf
	url = git@github.com:Robot-Exp-Platform/rerun_urdf.git
[submodule "robot_behavior_page"]
	path = robot_behavior_page
	url = git@github.com:Robot-Exp-Platform/robot_behavior_page.git
[submodule "robot_behavior-skills"]
	path = .github/skills/robot_behavior-skills
	url = git@github.com:Robot-Exp-Platform/robot_behavior-skills.git
[submodule "utils/copp"]
	path = utils/copp
	url = git@github.com:TOPP-THU/copp.git
[submodule "examples/franka_letters"]
	path = examples/franka_letters
	url = git@github.com:yixing312/franka_letter.git
[submodule "utils/topp"]
	path = utils/topp
	url = git@github.com:TOPP-THU/topp.git
[submodule "examples/jaka_roplat_multilang"]
	path = examples/jaka_roplat_multilang
	url = git@github.com:yixing312/jaka_roplat_multilang.git
[submodule "ref/libfranka"]
	path = ref/libfranka
	url = git@github.com:frankarobotics/libfranka.git
[submodule "unitree-go2-rs"]
	path = unitree-go2-rs
	url = git@github.com:Robot-Exp-Platform/unitree-go2-rs.git
[submodule "libk1"]
	path = libk1
	url = git@github.com:Robot-Exp-Platform/libk1.git
[submodule "ref/libfranka-rs"]
	path = ref/libfranka-rs
	url = git@github.com:marcbone/libfranka-rs.git
