[submodule "robot_behavior"]
	path = robot_behavior
	url = git@github.com:Robot-Exp-Platform/robot_behavior.git
[submodule "libjaka-rs"]
	path = libjaka-rs
	url = git@github.com:Robot-Exp-Platform/libjaka-rs.git
[submodule "franka-rust"]
	path = franka-rust
	url = git@github.com:Robot-Exp-Platform/franka-rust.git
[submodule "libhans-rs"]
	path = libhans-rs
	url = git@github.com:Robot-Exp-Platform/libhans-rs.git
[submodule "roplat_exrobot"]
	path = roplat_exrobot
	url = git@github.com:Robot-Exp-Platform/roplat_exrobot.git
[submodule "libaubo-rs"]
	path = libaubo-rs
	url = git@github.com:Robot-Exp-Platform/libaubo-rs.git
[submodule "rsbullet"]
	path = rsbullet
	url = git@github.com:Robot-Exp-Platform/rsbullet.git
[submodule "roplat_rerun"]
	path = roplat_rerun
	url = git@github.com:Robot-Exp-Platform/roplat_rerun.git
[submodule "rerun_urdf"]
	path = rerun_urdf
	url = git@github.com:Robot-Exp-Platform/rerun_urdf.git
